In [1]:
import BR_ML as brada
import pandas as pd

In [2]:
print(brada.__version__)

0.0.1

In [3]:
pequim = pd.read_csv('datasets/BeijingPM20100101_20151231.csv')
pequim.dropna(inplace=True)

pequim['date'] = pequim['year'].astype(str) + '-' + pequim['month'].astype(str) + '-' + pequim['day'].astype(str)
pequim.drop_duplicates(subset='date', inplace=True)
pequim['date'] = pd.to_datetime(pequim['date'])
pequim.sort_values('date', inplace=True)
pequim.set_index('date', inplace=True)
pequim.index = pd.DatetimeIndex(pequim.index).to_period('D')

pequim.columns

Index(['No', 'year', 'month', 'day', 'hour', 'season', 'PM_Dongsi',
       'PM_Dongsihuan', 'PM_Nongzhanguan', 'PM_US Post', 'DEWP', 'HUMI',
       'PRES', 'TEMP', 'cbwd', 'Iws', 'precipitation', 'Iprec'],
      dtype='object')

In [4]:
black_friday = pd.read_csv('datasets/BlackFriday.csv')
black_friday.columns

Index(['User_ID', 'Product_ID', 'Gender', 'Age', 'Occupation', 'City_Category',
       'Stay_In_Current_City_Years', 'Marital_Status', 'Product_Category_1',
       'Product_Category_2', 'Product_Category_3', 'Purchase'],
      dtype='object')

In [36]:
fb = pd.read_csv('datasets/FB.csv')
fb.columns

Index(['Date', 'Open', 'High', 'Low', 'Close', 'Adj Close', 'Volume'], dtype='object')

In [43]:
fb['Date'] = pd.to_datetime(fb['Date'])
fb = fb.set_index('Date')

In [44]:
fb.head()

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2015-11-16,106.839996,107.870003,106.620003,107.320000,107.320000,22129600
2015-11-23,107.190002,107.470001,104.389999,105.449997,105.449997,64538400
2015-11-30,105.839996,107.919998,103.349998,106.180000,106.180000,112055400
2015-12-07,106.480003,106.910004,101.910004,102.120003,102.120003,103276000
2015-12-14,102.290001,107.750000,101.459999,104.040001,104.040001,126762800

In [40]:
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import MaxAbsScaler
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import RobustScaler
from sklearn.preprocessing import Normalizer
from sklearn.preprocessing import QuantileTransformer
from sklearn.preprocessing import PowerTransformer

from sklearn.datasets import fetch_california_housing

In [54]:
from sklearn.pipeline import Pipeline

In [55]:
pipe.inverse_transform(pipe.fit_transform(fb))

array([[1.06839996e+02, 1.07870003e+02, 1.06620003e+02, 1.07320000e+02,
        1.07320000e+02, 2.21296000e+07],
       [1.07190002e+02, 1.07470001e+02, 1.04389999e+02, 1.05449997e+02,
        1.05449997e+02, 6.45384000e+07],
       [1.05839996e+02, 1.07919998e+02, 1.03349998e+02, 1.06180000e+02,
        1.06180000e+02, 1.12055400e+08],
       ...,
       [2.89869995e+02, 2.92579987e+02, 2.64000000e+02, 2.76950012e+02,
        2.76950012e+02, 9.24331000e+07],
       [2.75049988e+02, 2.79410004e+02, 2.69190002e+02, 2.69700012e+02,
        2.69700012e+02, 7.12420000e+07],
       [2.72559998e+02, 2.73000000e+02, 2.69410004e+02, 2.69700012e+02,
        2.69700012e+02, 1.68915160e+07]])

In [51]:
scaler = StandardScaler()
scaler.fit_transform(fb)

array([[-1.43040999, -1.45118347, -1.38574116, -1.42453699, -1.42453699,
        -1.57788254],
       [-1.42220805, -1.46008108, -1.44029388, -1.46794446, -1.46794446,
        -0.76482576],
       [-1.45384368, -1.45007139, -1.46573549, -1.45099925, -1.45099925,
         0.14616487],
       ...,
       [ 2.85865984,  2.65748923,  2.46425523,  2.51300205,  2.51300205,
        -0.23003168],
       [ 2.51137226,  2.36453728,  2.59121856,  2.34471132,  2.34471132,
        -0.63630508],
       [ 2.45302259,  2.22195371,  2.59660048,  2.34471132,  2.34471132,
        -1.67830651]])

In [47]:
df_temp = pd.DataFrame(data = scaler.fit_transform(fb), columns=fb.columns)

In [48]:
df_temp.head()

       Open      High       Low     Close  Adj Close    Volume
0  0.052224  0.047435  0.094900  0.062157   0.062157  0.012040
1  0.053997  0.045499  0.082632  0.052745   0.052745  0.109520
2  0.047158  0.047677  0.076910  0.056420   0.056420  0.218741
3  0.050400  0.042788  0.068988  0.035986   0.035986  0.198561
4  0.029176  0.046854  0.066513  0.045649   0.045649  0.252548

In [ ]:
def scaling(df, scaling_methods, kwargs=None):
    
    import pandas as pd
    from sklearn.pipeline import Pipeline
    
    list_scaler = []
    for i in range(len(scaling_methods)):
        
        scaling_method = scaling_methods[i]
        if kwargs is None:
            kwargs_method = dict{}
        else:
            kwargs_method = kwargs[i]
        
        if scaling_method == 'min_max':
            from sklearn.preprocessing import MinMaxScaler
            list_scaler.append(('min_max', MinMaxScaler(kwargs_method)))
            
        elif scaling_method == 'max_abs':
            from sklearn.preprocessing import MaxAbsScaler
            list_scaler.append(('max_max', MaxAbsScaler(kwargs_method)))
            
        elif scaling_method == 'standard':
            from sklearn.preprocessing import StandardScaler
            list_scaler.append(('standard', StandardScaler(kwargs_method)))
            
        elif scaling_method == 'robust':
            from sklearn.preprocessing import RobustScaler
            list_scaler.append(('robust', RobustScaler(kwargs_method)))
            
        elif scaling_method == 'normalizer':
            from sklearn.preprocessing import Normalizer
            list_scaler.append(('normalizer', Normalizer(kwargs_method)))
            
        elif scaling_method == 'quantile':
            from sklearn.preprocessing import QuantileTransformer
            list_scaler.append(('quantile', QuantileTransformer(kwargs_method)))
            
        elif scaling_method == 'power_transform':
            from sklearn.preprocessing import PowerTransformer
            list_scaler.append(('power_transform', PowerTransformer(kwargs_method)))
            
    
    pipe = Pipeline(list_scaler)
    
    df_temp = pipe.fit_transform(df)
    df_temp = pd.DataFrame(data=df_temp, columns=df.columns)
    
    return df_temp, pipe